  <header>
    <h1>All Contacts</h1>
    <h3>A list of users that has entered a new contact to DK's CRM Application</h3>
  </header>

  <ul>
   <% @contacts.each do |contact| %>
    <li>
      <a href="/contacts/<%= contact.id %>">
        <%= contact.first_name %> <%= contact.last_name %>
      </a>
    </li>
   <% end %>
  </ul>