  <header>
    <h1>Welcome to <%= @crm_app_name %></h1>
    <h3>This is the Main Menu</h3>
  </header>
    
  <nav>
    <li><a href="/contacts">View all Contacts</a></li>
    <li><a href="/contacts/new">Add a Contact</a></li>
    <li><a href="/contacts/modify">Modify a Contact</a></li>
  </nav>
    
