<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DK's CRM</title>
  <meta name="og:title" content="DK's CRM Application">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id = "wrapper">
    <div id = "header"></div>
    <div id = "content"><%= yield %></div>
    <div id = "footer">Jooter &copy; 2015</div>
  </div>
</body>
</html>